html{
    background-color: black;
    color: white;
    font-family: sans-serif;
}

header{
    text-align: center;
}

section{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    background-color: aqua;
    color: black;
    align-items: center;
    height: 300px;
    border-radius: 16px;
}

.buttons-wrapper{
    display: flex;
    gap: 50px;
    justify-content: center;
}

button{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border: none;
    border-radius: 4px;
}

button:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}